
.header{
    height: 200px;
    width: 400px;
    background-color: #c67229;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 40px;
}

.gemImage{
    width: 50px;
    height: 100%;
    margin: 0 10px 0 10px;
    float: left;
    overflow: hidden;
}
.instructions{
    margin: 25px auto auto 10px;
    width: 600px;
    height: 500px;
    background-color: #f9e4cd;
}
#parentMatchBox{
    margin: 25px 0 0 10px;
    width: 600px;
    height: 250px;
}
.numberToMatch{
    margin: 25px 0 0 10px;
    width: 600px;
    height: 150px;
}
#randomNumBox{
    width: 55%;
    height: 100%;
    float: left;
    background-color: #5ac77c;
    font-size: 50px;
}
.winsAndLosses{
    width: 40%;
    height: 100%;
    float: right;
    background-color: #4bfdfc;
}
.userTotal{
    width: 330px;
    background-color: #4aaaa5;
    float: left;
}
.finalTotal{
    width: 330px;
    background-color: #4aaaa5;
    float: left;
}

