
.header{
    height: 200px;
    width: 400px;
    background-color: #c67229;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 40px;
}

.gemImage{
    width: 130px;
    height: 100%;
    margin: 0 10px 0 10px;
    float: left;
    overflow: hidden;
}
.instructions{
    margin: 25px auto auto 10px;
    width: 600px;
    height: 500px;
    background-color: #f9e4cd;
}
#parentMatchBox{
    margin: 25px 0 0 10px;
    width: 600px;
    height: 250px;
}
